/* .img{
    /* width: 300%; */
    /* border-radius: 20px; */
/* }  */
.card_section{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .text-card{
    margin-right:"100px";
    display: flex;
    
  }