.admin-welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/verify.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .Admin-content-box {
    text-align: center;
    color: #FFFFFF;
    padding-top: 12rem;
    
  }
  
 
  .Admin-welcome-text {
    font-weight: bold;
    color: #00C3FF;
    
    font-size: 3rem; 
  }
  
  .Admin-sub-text {
    margin-bottom: 2rem;
    font-size: 1.5rem; 
    line-height: 1.5;
    color: grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .Admin-welcome-text {
      font-size: 2rem; 
    }
  
    .Admin-sub-text {
      font-size: 1.2rem;
      padding-top: 1rem;
      padding-bottom: 1rem; 
    }
    .Admin-content-box {
        padding-top: 8rem; 
      }
  }
  
  @media (max-width: 480px) {
    .Admin-welcome-text {
      font-size: 2rem; 
    }
  
    .Admin-sub-text {
      font-size: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem; 
    }
    .Admin-content-box {
        padding-top: 8rem; 
      }
  }
  
  
  .regi-button {
    font-size: 1rem;
    width: 180px;
    background-color: #1976d2; 
    color: #FFFFFF;
    
  }
  
  .regi-button:hover {
    background-color: #115293; 
  }
  