/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container Styles */
.homepage-container {
    position: relative;
    height: 700px;
    background: url("../../../../assets/images/hero.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section h2,
.top-section h1,
.top-section .reserve-btn {
    color: #fff;
    text-align: center;
}

/* Button Styles */
.reserve-btn {
    background-color: #ff6f61;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.reserve-btn:hover {
    background-color: #e64c3c;
}

/* Car List Styles */
.car_main_container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-4 {
    flex: 1;
    padding: 10px;
    max-width: 33.33%;
    box-sizing: border-box;
}

.car_images {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car_images:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car_info {
    padding: 10px 0;
}

.car_info span {
    font-size: 18px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.car_ratings {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffcc00;
}

.car_info p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.car_info p:last-child {
    color: #ea119e;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .col-4 {
        max-width: 50%;
    }

    .reserve-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .col-4 {
        max-width: 100%;
    }

    .reserve-btn {
        font-size: 12px;
        padding: 6px 12px;
    }
}