/* carousel css  */



  


  /* Most popular categeriors css */
  .categories-container {
    margin-left: 30px;
}

.category-item {
    text-align: center;

}
.link{
   list-style-type: none;
}
.category-link {
    text-decoration: none;
    color: black;
}

.category-img {
    height: 90px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category-img:hover {
    box-shadow: 4px 4px gray;
}



@media (max-width: 768px) {
    .categories-container {
        margin-left: 0;
    }
    
    .category-item {
        margin-bottom: 15px;
    }
    
}


/* EXPLORE CATEGEREIES CSS */

.homecard {
    display: flex;
} 
.cards_button {
    margin-top: 25px;
    margin-left: 70px;
   
}

.mpcategories-heading {
    font-size: 33px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    
}
 

.directory-catergory{
    margin-left: 50px;
    width:95%;
}

.directory-catergory button {
    width: 130px;
    height: 100px;
    font-size: 23px;
    /* border-radius: 9px; */
    border-radius:50%;
    /* box-sizing: border-box; */
    border: none;
    background-color: darkgreen;
    background-color: rgb(123, 179, 123);
    /* background-color: rgb(236, 236, 194); */
    color: white;
   
    
}

.directory-catergory button:hover {
    /* background-color: darkorange; */
    border: 2px soild darkgoldenrod;
    /* background-color: rgb(231, 184, 126); */
    background-color: rgb(236, 236, 194);
    color: black;
} 


@media (max-width: 768px) {
    
.directory-catergory{
    /* margin-left: 50px; */
    width:80%;
}
    
}

/* HOW IT WOEKS CSS */
.how-it-works-main{
    margin-left: 20px;
    margin-right: 20px;
}
.how-it-works-title{
    text-align: center;
}
.how-it-works-body{
    text-align: center;
}

.exploremore_carousel_images {
    height: 600px;
    width: 100%;
   
}
@media only screen and (max-width: 600px) {
    .exploremore_carousel_images {
        height: 300px;
        width: 100%;
        margin-top: 10px;
       
    }
   
  }